/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,500&family=Roboto+Serif:ital,opsz,wght@0,8..144,500;0,8..144,700;1,8..144,500&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap');*/
:root {
    --accent-color: white;
    --button-color: #2bb5ff;
    --shift-color: black;
    --explore-width: 252px;
    --explore-padding-x: 20px;

    --main-bg: #333333;

    --font-sm: 12px;
    --font-md: 16px;
    --font-lg: 22px;
    --font-xl: 28px;

    --template-content-width: 1250px;
    --horizontal-offset: 15px;

    /*--content-width: calc(var(--template-content-width) + calc(var(--horizontal-offset) * 2));*/

    --main-font-family-boldNormal: 'RobotoBoldNormal',sans-serif;
    --main-font-family-500Normal: 'Roboto500Normal',sans-serif;
    --main-font-family-100Italic:  'Roboto100Italic',sans-serif;
}
/*section.banner{*/
/*    height: 990px;*/
/*    !*width: 719px;*!*/
/*}*/
body{
    font-family: var(--main-font-family-500Normal);
}
@media (max-width: 700px) {
    :root{
        --explore-width:150px
    }
}
.container{

    /*border: 2px solid #5cff25;*/
}
/*h1{*/
/*    font-family: var(--main-font-family-boldNormal);*/
/*    color: var(--accent-color);*/
/*    font-size: var(--font-md);*/
/*}*/
/*h2{*/
/*    font-family: var(--main-font-family-500Normal);*/
/*    color: var(--accent-color);*/
/*    font-size: var(--font-md);*/
/*}*/
/*h3{*/
/*    font-family: var(--main-font-family-100Italic);*/
/*    color: var(--accent-color);*/
/*    font-size: var(--font-md);*/
/*}*/
header{
    position: relative;
    /*padding: var(--explore-padding-x);*/

    /*border: 2px solid #ff0000;*/
}
/*body{*/
/*    width: 1440px;*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*}*/
header nav.header__menu{
    background-color: var(--accent-color);
    height: 100px;
    margin-left: var(--explore-width);
    /*margin-right: var(--explore-width);*/
}
header nav.explore{
    position: absolute;
    width: var(--explore-width);
    background-color: var(--accent-color);
    height: 150vh;
    left: 0;
    top: 0;
}
header nav.right{
    position: absolute;
    width: var(--explore-width);
    background-color: var(--accent-color);
    height: 100vh;
    right: 0;
    top: 0;
}
main{
    /*padding: 20px;*/
    margin-left: var(--explore-width);
    /*margin-right: var(--explore-width);*/
    /*border: 1px solid black;*/
}
.explore{
    /*border: 2px solid #2be6ff;*/
}
.header__menu{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.right{

}
.explore{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.caped{
    gap: 60px;
    display: flex;
    flex-direction: column;
}
.caped a{
    list-style: none;
    text-decoration: none;
    color: var(--shift-color);
    transition: 0.3s;
}
.caped a:hover{
    color: var(--button-color);
}
.caped__link{
    display: flex;
    gap: 10px;
    font-weight: bold;
}
.caped ul{
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.search{
    width: 50%;
}
.product__header{
    width: 50%;
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
}
.product__header a{
    text-decoration: none;
    color: var(--shift-color);
    transition: 0.3s;
}
.product__header a:hover{
    color: var(--button-color);
}
.search form input{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    /*width: 50%;*/
}
.search form label{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}
.search form{
    display: flex;
}
.button__letter{
    border: none;
    /* padding: 14px 51px; */
    /* background-color: #fd3f40; */
    /* color: white; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-md);
    border-radius: 10px;
    transition: 0.3s;
}
.button__letter:hover{
background-color: var(--button-color);
}
/*.beer{*/
/*    margin-top: 150px;*/
/*    width: 252px;*/
/*    height: 500px;*/
/*    background-repeat: inherit;*/
/*    background-size: cover;*/
/*    background-position: top;*/
/*}*/
.feauter__gallary__content{
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    row-gap: 20px;

    justify-content: space-evenly;
}
.feauter__gallary__item-1{
    width: 540px;
    height: 180px;
    /* background-color: #6f6d6d; */
    /* border: 1px solid black; */
    background-repeat: no-repeat;
/* background-size: cover; */
/* background-position: left;*/
}
.feauter__gallary__item-2{
    width: 259px;
    height: 380px;
    /* background-color: #6f6d6d; */
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: left;*/
}
.section2{
    display: flex;
    gap: 20px;
}
.section1{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.feauter__gallary__item-4{
    width: 540px;
    height: 180px;
    /* background-color: #6f6d6d; */
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: left;*/
}
.feauter__gallary__item-3{
    width: 259px;
    height: 380px;
    /* background-color: #6f6d6d; */
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: left;*/
}
.section3{
    display: flex;
    gap: 20px;
}
.section4{
    display: flex;
    gap: 20px;
    flex-direction: column;
}